/*
  Copy this file to arduino_secrets.h and replace the defaults with your own
  details. This file will be excluded from version control, take care not to
  commit it to your repo!
 */

// WiFi AP credentials
#define SECRET_WIFI_SSID "wifi_user"
#define SECRET_WIFI_PASS "wifi_pass"

// MQTT Broker IP address or domain. Port defaults to 1883.
#define SECRET_MQTT_SERVER "broker_ip_or_hostname"
#define SECRET_MQTT_PORT 1883

// If MQTT authentication is enabled, fill out these variables. Leave empty otherwise.
#define SECRET_MQTT_USER ""
#define SECRET_MQTT_PASS ""
